@inherits RazorPageTemplate

@functions {
    public override void Configure()
    {
        TemplateId = new Guid("4c1f5f78-bf69-415e-a4e3-03d31d89044c"); 
        TemplateTitle = "2 column sub pages nav";
        Layout = "MasterLayout.cshtml";
    }

    [Placeholder(Id = "content", IsDefault = true)]
    public XhtmlDocument Content { get; set; }
	
	
	[Placeholder(Id = "left")]
    public XhtmlDocument Left { get; set; }
}
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        @*you can add template specific head elements here*@
    </head>
    <body>
		
		<div class="wrapper">
			<section class="leftpane">
				@Html.C1().Function("My.Common.Spacer" , new { Height = "50" }) 
				@Html.C1().Function("Composite.Navigation.Distributed" , new { Level = 2 }) 
				@Markup(Left)
			</section>
			<section class="contentpane">
				@Markup(Content)
                <div class="add_this">
					<f:function name="Composite.Community.AddThis" xmlns:f="http://www.composite.net/ns/function/1.0">
						<f:param name="Style" value="Informative" />
					</f:function>
				</div>
			</section>
			<div style="clear:both;"></div>
		</div>
    </body>
</html>